<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link rel="stylesheet" href="../webjars/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../webjars/bootstrap/3.3.7/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../webjars/bootstrapvalidator/0.5.3/css/bootstrapValidator.css">
    <link rel="stylesheet" href="../webjars/bootstrap-table/1.16.0/bootstrap-table.css">

    <script type="text/javascript" src="../webjars/jquery/1.11.1/jquery.js"></script>
    <script type="text/javascript" src="../webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="../webjars/bootstrap-table/1.16.0/bootstrap-table.js"></script>
    <script type="text/javascript" src="../webjars/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../webjars/bootbox/5.4.0/bootbox.all.js"></script>
    <script type="text/javascript" src="../webjars/bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="../webjars/bootstrapvalidator/0.5.3/js/language/zh_CN.js"></script>
   <script type="text/javascript">
       /**
        *
        */

       /***
        * bootbox的默认参数
        */

       bootbox.setDefaults({
           locale:'zh_CN',
           size: 'small',
           title:'提示'
       });

       (function($){
           $.fn.serializeObject = function(){
               var o = {};
               var a = this.serializeArray();
               $.each(a, function() {
                   if (o[this.name] !== undefined) {
                       if (!o[this.name].push) {
                           o[this.name] = [o[this.name]];
                       }
                       o[this.name].push(this.value || '');
                   } else {
                       o[this.name] = this.value || '';
                   }
               });
               return o;
           };


           $.fn.form=function(option,params){
               if(typeof option=='string'){
                   method=$.fn.form.methods[option];
                   return method(this,params);
               }
               return;
           };

           $.fn.form.methods={
               'clear':function(jq){
                   jq.find('input.combobox').each(function(){
                       $(this).combobox('setNull');
                   })
                   jq.find('input').val('');
               },
               'reset':function(jq){
                   jq[0].reset();
                   jq.find('input.combobox').each(function(){
                       $(this).combobox('setValue',$(this).val());
                   })
               },
               'getParams':function(jq){
                   return jq.serializeObject();
               }
           }

           $.extend({
               'createBtn':function(options){
                   var btn=$('<button type="button" class="btn btn-default" />');
                   if(options.iconCls){
                       var icon=$('<span class="'+options.iconCls+'"aria-hidden="true"></span>');
                       btn.append(icon);
                       btn.append('&nbsp;')
                   }
                   if(options.text){
                       btn.append(options.text);
                   }
                   if(options.handler){
                       btn.click(options.handler);
                   }
                   if(options.btnCls){
                       btn.attr('class',options.btnCls);
                   }
                   if(options.isCloseBtn){
                       btn.attr('data-dismiss','modal');
                   }
                   return btn;
               },
               /*  'createDialog':function(){
                   var dialog=$('<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"/>');
                    dialog.appendTo($('body'));
                    var modal_dialog=$('<div class="modal-dialog" role="document"/>');
                    modal_dialog.appendTo(dialog);
                    var modal_content=$('<div class="modal-content"/>')
                    modal_conten.appendTo(modal_dialog);
                    var modal_header=$('<div class=""modal-header><button type')
                    if(options.title){
                        modal_hander.find('h4').text(options.title);
                    }
                    modal_hander.appendTo(modal_content);
                    var model_body=$('<div class="modal-body"/>');

                 }


               })*/
               'createDialog':function(options){
                   var dialog=$('<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" />');
                   dialog.appendTo($('body'));
                   var modal_dialog=$('<div class="modal-dialog" role="document" />');
                   modal_dialog.appendTo(dialog);
                   var modal_content=$('<div class="modal-content"/>');
                   modal_content.appendTo(modal_dialog);
                   var modal_header=$('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">对话框</h4></div>');
                   if(options.title){
                       modal_header.find('h4').text(options.title);
                   }
                   modal_header.appendTo(modal_content);
                   var modal_body=$('<div class="modal-body" />');
                   modal_body.appendTo(modal_content);
                   var modal_footer=$('<div class="modal-footer" />');
                   modal_footer.appendTo(modal_content);
                   if(options.url){
                       modal_body.load(options.url);
                   }
                   if(options.buttons){
                       for(var i=0;i<options.buttons,length;i++){
                           options.buttons[i].appendTo(modal_footer);
                       }
                   }
                   return dialong.modal({
                       show:false
                   });
               }
           })



           /* 扩展combobox */
           function createUl(jq, data, options) {
               var ul = $('<ul class="dropdown-menu"/>');
               var val = options.val;
               for (var i = 0; i < data.length; i++) {
                   var opt = data[i];
                   var li = $('<li/>').val(opt.value).append($('<a/>').text(opt.text));
                   if (val == opt.value) {
                       li.addClass('active');
                       jq.find('input.form-control').val(opt.text);
                   }
                   ul.append(li);
               }
               ul.find('li').click(function() {
                   var self = $(this);
                   var oldSelected = $(self.parent().find('.active'));
                   var newVal = self.val();
                   var oldVal = null;
                   if (oldSelected) {
                       oldVal = oldSelected.val();
                       oldSelected.removeClass('active');
                   }
                   self.addClass('active');
                   jq.prev().val(self.val());
                   ul.prev().val(self.find('a').text());
                   var callback = options.onchange;
                   options.val = self.val();
                   if (oldVal !== newVal) {
                       callback(newVal, oldVal);
                   }
               })
               ul.appendTo(jq);
           }

           function createCombo(jq) {
               var data = jq.options.data;
               jq.hide();
               var div = $('<div class="dropdown"/>');
               var input = $('<input readonly class="dropdown-toggle form-control" data-toggle="dropdown"/>');
               input.appendTo(div);
               jq.after(div);
               if (data) {
                   createUl(div, data, jq.options);
               } else {
                   var valueField = jq.options.valueField;
                   var textField = jq.options.textField;
                   var url = jq.options.url;
                   $.get(url, function(result) {
                       data = [];
                       for (var i = 0; i < result.length; i++) {
                           var obj1 = result[i];
                           var obj2 = {};
                           obj2.value = obj1[valueField];
                           obj2.text = obj1[textField];
                           data.push(obj2);
                       }
                       jq.options.data = data;
                       createUl(div, data, jq.options);
                   })
               }
           }

           $.extend($.fn, {
               combobox: function(options, params) {
                   if (typeof options == 'string') {
                       var self = $(this);
                       var method = $.fn.combobox.methods[options];
                       return method(self, params);
                   }
                   options = options || {};

                   $(this).each(function() {
                       var self = $(this);
                       var opts = self.data('combobox');
                       if (opts) {
                           options = $.extend({}, opts, options);
                           $.fn.combobox.methods.destroy(self);
                       }
                       var optionsStr = '{' + this.dataset['options'] + '}';
                       var val = self.val();
                       var data_options = eval('(' + optionsStr + ')');
                       self.options = $.extend({}, $.fn.combobox.defaults, data_options, options);
                       self.options.val = val;
                       self.data('combobox', {
                           self: self
                       });
                       createCombo(self);
                   })
               }
           })

           $.fn.combobox.defaults = {
               textField: 'text',
               valueField: 'value',
               data: null,
               url: '',
               onchange: function(newVal, oldVal) {

               }
           };

           $.fn.combobox.setDefaults = function(options) {
               $.extend($.fn.combobox.defaults, options);
           };

           $.fn.combobox.methods = {
               'options': function(jq) {
                   var self = jq.data('combobox').self;
                   return self.options;
               },
               'getValue': function(jq) {
                   var self = jq.data('combobox').self;
                   var val = self.options.val;
                   return val;
               },
               'setValue': function(jq, val) {
                   var self = jq.data('combobox').self;
                   var data = self.options.data;
                   var i;
                   for (i = 0; i < data.length; i++) {
                       if (data[i].value == val) {
                           break;
                       }
                   }
                   if (i < data.length) {
                       self.options.val = val;
                       jq.val(val);
                       var div = jq.siblings('div.dropdown');
                       div.find('input.form-control').val(data[i].text);
                       div.find('ul>li').removeClass('active');
                       $(div.find('ul>li')[i]).addClass('active');
                   } else {
                       $.fn.combobox.methods.setNull(jq);
                   }
               },
               'setNull': function(jq) {
                   var self = jq.data('combobox').self;
                   self.options.val = '';
                   jq.val('');
                   var div = jq.siblings('div.dropdown');
                   div.find('input.form-control').val('');
                   div.find('ul>li').removeClass('active');
               },
               'destroy': function(jq) {
                   jq.siblings('div.dropdown').remove();
                   jq.show();
               }
           };

           $.parser = {
               'plugins': ['combobox'],
               'parse': function(context) {
                   for (var i = 0; i < $.parser.plugins.length; i++) {
                       (function() {
                           // 控件名
                           var name = $.parser.plugins[i];
                           // 查找class为easyui-控件名的jq对象，例如，easyui-layout
                           var r = $('.' + name, context);

                           if (r.length) {
                               // 如果有这个对象，那么判断它有没有初始化函数
                               if (r[name]) {
                                   // 如果有直接调用
                                   r[name]();
                               }
                           }
                       })();
                   }
               }
           }
           $(function() {
               $.parser.parse();
           })
       })($);
   </script>
</head>
<body>
<div class="container">
    <!-- 查询对话框 -->
    <form id="searchForm">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">查询</h4>
                    </div>
                    <div class="modal-body">
                        <!-- 以下为要查询的的内容 -->
                        <div class="form-group">
                            <label for="search_name">课程名称：</label>
                            <input id="search_name" type="text" class="form-control" name="name" placeholder="课程名称">
                        </div>
                        <div class="form-group">
                            <label for="search_username">课时数：</label>
                            <input id="search_username" type="text" class="form-control" name="classHour"
                                   placeholder="课时数">
                        </div>
                        <!-- 以上为要查询的内容 -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="query()" class="btn btn-primary" data-dismiss="modal"><span
                                class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;查询
                        </button>
                        <button type="button" onclick="clearQuery()" class="btn btn-default" data-dismiss="modal"><span
                                class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;清空
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- 表格，表头里定义了表要显示的字段，data-formatter 里只能跟一个方法名 -->
    <table id="mytable">
        <thead>
        <tr>
            <th data-checkbox="true"></th>
            <th data-field="id">编号</th>
            <th data-field="name">课程名称</th>
            <th data-field="classHour">课时数</th>
        </tr>
        </thead>
    </table>
    <!-- 工具栏 -->
    <div class="btn-group" id="toolbar">
        <button onclick="addClick()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
        <button onclick="editClick()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
        </button>
        <button data-bind="click:deleteClick" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
        <button onclick="search()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
        </button>
    </div>

</div>
<script type="text/javascript">
    function queryParams(param) {
        var obj = $('#searchForm').serializeObject();
        obj.limit = param.limit;
        obj.offset = param.offset;
        obj.search = param.search;
        return obj;
    }

    function search() {
        var dialog = $('#searchForm').find('div[role="dialog"]');
        dialog.modal();
    }

    function query() {
        $('#mytable').bootstrapTable('selectPage', 1);
    }

    function clearQuery() {
        $('#searchForm').form('clear');
        $('#mytable').bootstrapTable('selectPage', 1);
    }

    function addClick() {
        var self = $('#mytable');
        var dialog = $('<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>');
        dialog.load('edit', $('#searchForm').form('getParams'), function () {
            $("body").append(dialog);
            dialog.modal().on('hidden.bs.modal', function () {
                dialog.remove();
                self.bootstrapTable('refresh');
            });
        });
    }

    function editClick() {
        var self = $('#mytable');
        var selected = self.bootstrapTable('getSelections');
        if (!selected.length) {
            bootbox.alert('请选择一行再进行此操作');
            return;
        }
        var dialog = $('<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>');
        dialog.load('edit', {id: selected[0].id}, function () {
            $("body").append(dialog);
            dialog.modal().on('hidden.bs.modal', function () {
                dialog.remove();
                self.bootstrapTable('refresh');
            });
        });

    }

    $(function () {
        var table = $('#mytable');
        table.bootstrapTable({
            url: 'page',
            toolbar: '#toolbar',                //工具按钮用哪个容器
            //queryParams: function (param) {
            //	return { limit: param.limit, offset: param.offset,search:param.search };
            //},//传递参数（*）
            queryParams: queryParams,
            idField: 'id',
            pagination: true,                   //是否显示分页（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      //初始化加载第一页，默认第一页
            pageSize: 5,                       //每页的记录行数（*）
            pageList: [3, 5, 10, 30, 100, 200],        //可供选择的每页的行数（*）
            method: 'get',
            search: true,                       //是否显示表格搜索，
            //striped:true,
            singleSelect: true,					//是否单选
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            cache: false,
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            showToggle: true,

        })
    })

</script>
</body>
</html>