<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snow.cjgl.dao.CourseMapper">
    <select id="getCourseAll" parameterType="map" resultType="Course">
        select * from abc.course
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
               and name = #{name}
            </if>
            <if test="classHour != null">
               and classHour = #{classHour}
            </if>
        </where>
    </select>

    <insert id="addCourse" parameterType="map">
        INSERT INTO abc.course (name,class_hour) VALUES (#{name},#{classHour})
    </insert>
    
    <update id="updateCourse" parameterType="map">
        update abc.course
        <if test="name != null">
            set name = #{name}
        </if>
       <if test="classHour != null">
           ,
       </if>
        where;
    </update>

</mapper>
